@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*
    Fonts: Roboto, Work Sans, Kanit
*/

:root {
    --primaryColor: rgb(230, 230, 250);
    --secondaryColor: rgb(24, 45, 19);
    --thirdColor: rgb(50, 72, 45);
    --accentColor1: hsl(112, 60%, 50%);
    --accentColor2: hsl(259, 90%, 60%);
    --ff: "Roboto", "DM Sans", sans-serif;
    --h1: bold 54px/64px var(--ff);
    --h2: bold 40px/40px var(--ff);
    --h3: bold 24px/30px var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px/24px var(--ff);
    --subtext: 12px/20px var(--ff);
    --transition: 0.3s ease-in-out;
    --shadowblur: #000000CC 0px 0px 10px 0px;
    --shadowsolid: #000000CC 2px 2px;
}

body {
    margin: 0;
    font-family: var(--ff);
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}

a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}
